table, th, td {
    border: 1px solid black;
  }

  h1 {
    width:500px;
    margin: 0 auto;
    background: lightgray;
    text-align: center;
    color: black;
  }

  body {
    background-color: black;
  }

  div {
    color: white;
  }

  table, th, td {
    color: white;
    border: 1px solid gray;
  }